.main {
	min-height: 100vh;

	&__animation {
		width: 20vw;

		&-cogs {
			width: 21%;
			position: relative;
			top: -0.5vw;

			&-1,
			&-2 {
				position: absolute;
			}

			@keyframes rotation {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}

			&-1 {
				width: 70%;
				left: -5.5vw;
				top: 0.6vw;
				animation: 3s linear 0s infinite normal rotation;
			}

			&-2 {
				top: 1.1vw;
				left: -4.6vw;
				box-sizing: content-box;
				width: 87%;
				transform-origin: 15% 20%;
				animation: 3s linear 0s infinite reverse rotation;
			}
		}
	}
}
