* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Montserrat";
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
}

.h-full {
	height: 100%;
}

.w-full {
	width: 100%;
}

.wh-full,
.hw-full {
	width: 100%;
	height: 100%;
}

.overflow-x {
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: hidden;
}

.overflow {
	overflow: hidden;
}

.inline {
	display: inline !important;
}

.hidden {
	display: none !important;
}

.desktop {
	@include tablet {
		display: none !important;
	}

	@include mobile {
		display: none !important;
	}
}

.tablet {
	@include desktop {
		display: none !important;
	}

	@include mobile {
		display: none !important;
	}
}

.mobile {
	@include desktop {
		display: none !important;
	}

	@include tablet {
		display: none !important;
	}
}

.desktop-hidden {
	@include desktop {
		display: none !important;
	}
}

.tablet-hidden {
	@include tablet {
		display: none !important;
	}
}

.mobile-hidden {
	@include mobile {
		display: none !important;
	}
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
